%h1 Account Activation
%p
  To activate your account, use the token <code>#{@user.account.activation_token}</code> within 24 hours of recieving this email (#{@user.account.activation_sent_at.to_formatted_s(:long_ordinal)}).
  %br
  %pre
    %code
      curl -X POST -d '{"activationToken": "#{@user.account.activation_token}"}' https://keygin.io/v1/accounts/#{@user.account.hashid}/actions/activate
%p
  You are receiving this email becase you are listed as an admin of a new account. If you did not sign up for a new account, simply ignore this email.
