Password Reset

To reset your password, use the token #{@user.password_reset_token} within 24 hours of recieving this email (#{@user.password_reset_sent_at.to_formatted_s(:long_ordinal)}).

curl -X PATCH -d '{"passwordResetToken": "#{@user.password_reset_token}", "newPassword": "${NEW_PASSWORD}"}' https://api.keygin.io/users/#{@user.id}/actions/reset-password

If you did not request your password to be reset, simply ignore this email and your password will continue to stay the same.
