- password_reset_link = link_to "https://app.keygen.sh/password-reset/#{@token}",
                                "https://app.keygen.sh/password-reset/#{@token}",
                                class: "ellipsis"
%p
  To reset your password, follow the link below before #{@user.password_reset_sent_at.strftime("%m/%d/%Y at %-I:%M %p (%Z)")}.
  %br
  %br
  = password_reset_link
%p
  If you did not request your password to be reset, simply ignore this email and
  your password will continue to stay the same.
