%h1 Password Reset
%p
  To reset your password, use the token <code>#{@user.password_reset_token}</code> within 24 hours of recieving this email (#{@user.password_reset_sent_at.to_formatted_s(:long_ordinal)}).
  %br
  %pre
    %code
      curl -X PATCH -d '{"passwordResetToken": "#{@user.password_reset_token}", "newPassword": "${NEW_PASSWORD}"}' https://api.keygin.io/users/#{@user.id}/actions/reset-password

%p
  If you did not request your password to be reset, simply ignore this email and your password will continue to stay the same.
