-# frozen_string_literal: true
- title = "Packages for #{account.name}"
- content_for(:title) { title }

%h1= title

- products.each do |product|
  - url = url_for([:v1, account, :release_packages, :pypi_simple_package, package: product.id, format: nil, trailing_slash: true])

  = link_to(product.code, url, data: product.metadata)
