- accept_invitation_link = link_to "https://keygen.sh/invititation?token=#{@token}",
                                   "https://keygen.sh/invititation?token=#{@token}",
                                   class: "ellipsis"
- docs_link = link_to "documentation",
                      "https://keygen.sh/docs/api"
%p
  You've been invited to the beta program! Please click the link below to accept
  the invitation and join the party!
  %br
  %br
  = accept_invitation_link
%p
  To get started with Keygen, be sure to check out the #{docs_link} section of
  the site for coverage on everything from integrating Keygen into your product
  to an in-depth API reference.
%p
  Please let me know if I can provide you with a demo, lend some support, or help
  out in any other way. Since this is a beta, I'd absolutely love to hear any
  feedback that you have. You're a huge part of crafting the final product!
