%p
  I will be migrating all accounts off of the beta plan within the next 24 hours.
%p
  %strong What does that mean for you?
  Nothing, if you've already upgraded to a paid plan! If you haven't already
  #{link_to "chosen a paid plan", "https://app.keygen.sh/subscription"}, access
  to the API will be disabled within the next 24 hours. Need a custom plan or an
  extended trial for one of the paid plans? No problem! Reply to this email
  directly and I'd be happy to hook you up!
%p
  And remember, you have a 20% lifetime discount waiting for you when you do
  choose to upgrade to a paid plan! You can upgrade your account at anytime
  by visiting #{link_to "your dashboard", "https://app.keygen.sh"}. ❤️
