%p
  Big news! The beta is officially ending on May 9th! (That's in a week!)
%p
  I'm *stoked* to have had you as an early adopter for Keygen! And to show you how
  much I appreciate you, I've hooked your account up with a 20% lifetime discount
  on all plans (even for future upgrades).
%p
  If you haven't already, head over to your account #{link_to "dashboard", "https://app.keygen.sh"}
  and #{link_to "choose a plan", "https://app.keygen.sh/subscription"}.
%p
  Need a custom plan or an extended trial? No problem! Reply to this email
  directly and I'd be happy to chat about your current needs!
%p
  %small
    Note: All API access for beta users that have *not* upgraded to a paid plan will
    be halted on May 10th as we transition out of beta.
