%p
  Your first payment for your subscription has been received! You should receive
  another email soon from Stripe with your receipt. I just wanted to personally
  thank you for signing up and using Keygen!
%p
  Let me know if there's anything that I can do to make the product better for
  you. If you're having trouble getting anything set up, please reply back to
  this email directly. I'd love help out!
