- docs_link = link_to "documentation", "https://keygen.sh/docs/api"
%p
  How's it going? I noticed that you haven't really dug into Keygen yet and was
  curious if I could help out. I understand that you may not be in a place to
  give it a spin, but regardless: is there anything I can help with?
%p
  I really appreciate you signing up for the beta. Please let me know if you find
  anything unclear in the #{docs_link} or if you encounter any bugs.
%p
  And of course, I'd love to hear any kind of feedback you have. (Also, I'm on
  the lookout for additional beta users, so invite your friends!)
