- dashboard_link = link_to "https://app.keygen.sh",
                           "https://app.keygen.sh"
%p
  It looks like your account, #{@account.name}, is missing a payment method.
  Please sign into your account at #{dashboard_link} and add a payment method.
  If you don't add a payment method soon, your subscription will be canceled
  after the current period or trial ends.
%p
  Please let me know if you have any questions. I'd love to help out!
