- dashboard_link = link_to "https://app.keygen.sh",
                          "https://app.keygen.sh"
%p
  Unfortunately there was an error while processing your payment information.
%p
  Please ensure that you have provided an up to date payment method by visiting
  your account dashboard at #{dashboard_link}.
%p
  Another attempt to process your subscription's renewal will happen within the
  next few days. If you don't update your payment details soon, your subscription
  will not renew and you will eventually lose access to your API endpoints.
%p
  Please let me know if there's anything that I can do for you. I'd love to help
  out in anyway that I can!
