<p>
  Unfortunately there was an error while processing this month's payment for
  your account, <%= @account.name %>. If you have a second, can you double check that you've
  provided an up-to-date payment method on <%= link_to "your billing dashboard", "https://app.keygen.sh/billing" %>?
</p>
<% if @invoice.present? %>
  <p>
    Alternatively, you can view and pay this invoice directly by <%= link_to "following this link", @invoice.hosted_invoice_url %>.
  </p>
<% end %>
<p>
  Another attempt to process your subscription's renewal may happen within the
  next few days. Let me know if you have any questions!
</p>
