-# frozen_string_literal: true
%p
  Unfortunately there was an error while processing your payment for this month.
  If you have a second, can you doubel check that you have provided an up to date
  payment method by on your #{link_to "account dashboard", "https://app.keygen.sh/billing"}?
%p
  Another attempt to process your subscription's renewal will happen within the
  next few days. Let me know if you have any questions!
