%p
  It looks like your account '#{@account.name}' is missing a payment method!
  Please #{link_to "sign into your account", "https://app.keygen.sh"} and add
  a payment method.
%p
  If you don't add a payment method soon, your subscription will be canceled
  after the current subscription period or trial ends.
%p
  Please let me know if you have any questions.
