-# frozen_string_literal: true
%p
  Just reaching out to let you know that we've updated #{link_to 'our pricing', 'https://keygen.sh/pricing'}
  to be a *lot* simpler and hopefully more affordable! (No more limits!) As a
  note, all existing users have been grandfathered into their current plans,
  which can be changed to one of the new plans at anytime within your
  #{link_to "account dashboard", "https://app.keygen.sh/billing"}.
%p
  If you're an indie dev who was on the fence before, I'd love to hear what you
  think of the new tiers!
%p
  Be sure to reach out if you have any questions. 🤘
