- dashboard_link = link_to "https://app.keygen.sh",
                           "https://app.keygen.sh"
%p
  The subscription for your account '#{@account.name}' has been canceled. If you
  would like to renew your account's subscription, please head over to your
  dashboard at #{dashboard_link} and select the plan you would like to use.
%p
  If you have any questions or feedback for me, you can reply back to this email
  directly. I'd love to improve Keygen in anyway possible!
