-# frozen_string_literal: true
%p
  Thanks for giving Keygen a try, even if it didn't work out. The subscription for
  your account '#{@account.name}' has been canceled. Access to your account's API
  endpoints has been disabled until your subscription is renewed.
%p
  If you don't mind, would you let me know why you decided not to move forward with
  us? Knowing this would really help us out.
%p
  If you would like to reactivate your account's subscription, please head over to
  #{link_to "your dashboard", "https://app.keygen.sh/billing"}, add a payment
  method, and then select a plan.
