%p
  The subscription for your account '#{@account.name}' has been canceled. Access
  to your account's API endpoints has been disabled until your subscription is
  renewed. Rest assured, none of your account data has been lost.
%p
  If you would like to renew your account's subscription, please head over to your
  #{link_to "dashboard", "https://app.keygen.sh"} and select a plan.
