- docs_link = link_to "documentation",
                      "https://keygen.sh/docs"
%p
  Thanks for checking out and signing up for Keygen! I just wanted to personally
  reach out and let you know that I'm always available to answer any questions
  you may have.
%p
  To get started with Keygen, be sure to check out the #{docs_link} section of
  the site for coverage on everything from integrating Keygen into your product
  to an in-depth API reference.
%p
  Please let me know if I can provide you with a demo, lend some support, or help
  out in any other way. I'd also love to hear any feedback, if you happen to
  have any thoughts!
