<p>
  Welcome to Keygen. I'm Zeke — I'm the founder of Keygen. 👋 Super excited to have your
  company onboard. Please let me know if you need anything.
</p>
<p>
  You can login to your Dashboard by following this direct link: <%= link_to "https://app.keygen.sh/login?account=" + @account.slug, "https://app.keygen.sh/login?account=" + @account.id %>
  (p.s. bookmark this link for easier access.)
</p>
<p>
  To get started, you can check out our <%= link_to "documentation", "https://keygen.sh/docs/" %>
  for an in-depth API reference as well as several guides on licensing and sample programs
  to aid in getting up and running with Keygen. And of course you can reach out directly
  to our support team (me) anytime with questions that you may have along the way. If
  you're non-technical, feel free to poke around the Dashboard to get familiar with the
  various resource objects we offer. You can send the aforementioned documentation link
  to your engineering team so they can get started.
</p>
<p>
  Lastly, I'd be more than happy to have a conversation about your product requirements
  to make sure you get a ton of value out of Keygen. You can reply to this email
  directly.
</p>
