-# frozen_string_literal: true
%p
  Welcome to Keygen! I'm really excited to have your company onboard!
%p
  Be sure to check out our #{link_to "documentation", "https://keygen.sh/docs"}
  for an in-depth API reference as well as  several guides on getting up and running
  with Keygen, and of course you can reach out directly to our support team
  anytime with questions that you may have along the way.
%p
  I’d be happy to schedule a quick call or email chat to talk about your product
  requirements to make sure you get a ton of value out of Keygen. You can schedule
  a call anytime #{link_to "by clicking here", "https://calendly.com/keygen"}.
%p
  And one last thing! If you don't mind, would you add this email to your address
  book? Just want to make sure that important account-related emails don't end
  up in your spam folder!
