%p
  Welcome to Keygen! I'm excited to have you onboard!
%p
  Keygen is currently in closed beta, but we're inviting new users all the time
  so keep an eye on your inbox over the next couple weeks for an invitation!
%p
  Also, I’d be happy to have a quick call or email chat to talk about your product
  to make sure you get a ton of value out of Keygen. Let me know if you have some
  time in the next couple of days.
