%p
  Welcome to Keygen! I'm excited to have you on board!
%p
  Keygen is currently in closed beta, but we're inviting new users all the time
  so keep your eyes on your inbox over the next few days for an invitation!
%p
  In the meantime, be sure to check out the #{link_to "documentation", "https://keygen.sh/docs/api"}
  section of the site to learn more about integrating Keygen into your product.
