%p
  Welcome to Keygen! I'm excited to have you onboard!
%p
  Getting started is easy! There are three main steps:
%ol
  %li
    Add your <strong>product</strong>. This can be done from your #{link_to "dashboard", "https://app.keygen.sh/login?account=#{@account.slug}"},
    or directly through Keygen's REST API.
  %li
    Create your first <strong>policy</strong>. These define the different types
    of licenses that your product offers.
  %li
    <strong>Integrate Keygen</strong> into your product to start accepting new
    users and licenses!
%p
  Want more info? Check out our #{link_to "documentation", "https://keygen.sh/docs/api"}
  for an in-depth API reference and Getting Started guide.
%p
  Also, I’d be happy to have a quick call or email chat to talk about your product
  to make sure you get a ton of value out of Keygen. Reach out to me directly at
  #{link_to "zeke@keygen.sh", "mailto:zeke@keygen.sh"} with any questions.
