- docs_link = link_to "documentation",
                      "https://keygen.sh/docs/api"
%p
  Thanks for checking out and signing up for Keygen! I just wanted to personally
  reach out and let you know that I'm always available to answer any questions
  you may have.
%p
  We're in the middle of a beta program that is being rolled out to users periodically.
  When invited, you'll received another email with an invitation link and instructions
  on how to get started with Keygen.
%p
  In the meantime, be sure to check out the #{docs_link} section of the site to
  learn more about the process of integrating Keygen into your product.
%p
  Please let me know if you would like to be fast-tracked into the beta, and I
  will try my best. Simply reply to this email with a message with a short pitch
  on the product you'll be using Keygen for, and what languages and platforms
  it will support.
-# %p
-#   To get started with Keygen, be sure to check out the #{docs_link} section of
-#   the site for coverage on everything from integrating Keygen into your product
-#   to an in-depth API reference.
-# %p
-#   Please let me know if I can provide you with a demo, lend some support, or help
-#   out in any other way. I'd also love to hear any feedback, if you happen to
-#   have any thoughts!
