-# frozen_string_literal: true
%p
  Welcome to Keygen! I'm really excited to have your company onboard!
%p
  Getting started will only take a few minutes. There are three main steps:
%ol
  %li
    Add your <strong>product</strong>. This can be done from your #{link_to "dashboard", "https://app.keygen.sh/login?account=#{@account.slug}"},
    or directly through Keygen's REST API.
  %li
    Create your first <strong>policy</strong>. These define the different types
    of licenses that your product offers.
  %li
    <strong>Integrate Keygen</strong> into your product to start accepting new
    users and licenses!
%p
  Need some help? Check out our #{link_to "documentation", "https://keygen.sh/docs/api"}
  for an in-depth API reference and several guides on getting up and running
  with Keygen, or reach out directly to our support team.
%p
  Also, I’d be happy to schedule a quick call or email chat to talk about your product
  requirements to make sure you get a ton of value out of Keygen. Reach out to me
  directly at #{link_to "zeke@keygen.sh", "mailto:zeke@keygen.sh"} with any questions.
%p
  And one last thing! If you don't mind, would you add this email to your address
  book? Just want to make sure that important account-related emails don't end
  up in your spam folder!
