default: &postgres
  adapter: postgresql
  pool: <%= ENV['DB_POOL'] || (Sidekiq.server? ? ENV.fetch('SIDEKIQ_CONCURRENCY', 10) : ENV.fetch('RAILS_MAX_THREADS', 2)) %>
  timeout: <%= ENV['DB_TIMEOUT'] || 5000 %>
  prepared_statements: false
  variables:
    statement_timeout: <%= ENV["DB_STATEMENT_TIMEOUT"] || '15s' %>

clickhouse: &clickhouse
  adapter: clickhouse
  keep_alive_timeout: <%= ENV['CLICKHOUSE_KEEP_ALIVE_TIMEOUT'] || 10 %>
  read_timeout: <%= ENV['CLICKHOUSE_READ_TIMEOUT'] || 30 %>
  write_timeout: <%= ENV['CLICKHOUSE_WRITE_TIMEOUT'] || 30 %>
  migrations_paths: db/clickhouse

development:
  primary:
    <<: *postgres
    database: keygen_dev
  replica:
    <<: *postgres
    database: keygen_dev
    replica: true
  clickhouse:
    <<: *clickhouse
    adapter: clickhouse
    database: keygen_clickhouse_dev
    debug: true

test: &test
  primary:
    <<: *postgres
    database: keygen_test<%= ENV['TEST_ENV_NUMBER'] %>
  replica:
    <<: *postgres
    database: keygen_test<%= ENV['TEST_ENV_NUMBER'] %>
    replica: true
  clickhouse:
    <<: *clickhouse
    url: <%= ENV['CLICKHOUSE_DATABASE_URL'] %>
    database: keygen_clickhouse_test<%= ENV['TEST_ENV_NUMBER'] %>

production:
  primary:
    <<: *postgres
    url: <%= ENV['DATABASE_CONNECTION_POOL_URL'] || ENV['DATABASE_URL'] %>
  replica:
    <<: *postgres
    url: <%= ENV['REPLICA_DATABASE_CONNECTION_POOL_URL'] || ENV['REPLICA_DATABASE_URL'] %>
    replica: true
  clickhouse:
    <<: *clickhouse
    url: <%= ENV['CLICKHOUSE_DATABASE_URL'] %>

cucumber:
  <<: *test
