-# frozen_string_literal: true
- title = "Versions for #{package.name} by #{account.name}"

- content_for(:title) { title }
- content_for(:head) do
  %meta(name="pypi:repository-version" content="1.1")

%h1= title

- artifacts.each do |artifact|
  - url = url_for([:v1, account, artifact, anchor: checksum_for(artifact, delimiter: '=')])

  = link_to(artifact.filename, url, data: artifact.metadata)
  %br
