!!!
%html
  %head
    %meta(content="width=device-width" name="viewport")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= message.subject
    :sass
      body
        font:
          family: sans-serif
          size: 0.875rem
        line:
          height: 1.5
      a
        color: #0000ff
  %body
    %p
      Hi there, #{@user.first_name}!
    = yield
    %p
      – Zeke Gabrielse, Founder of Keygen
