-# frozen_string_literal: true
!!!
%html
  %head
    %meta(content="width=device-width" name="viewport")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= message.subject
    :sass
      body
        padding: 20px
        font:
          family: sans-serif
          size: 14px
        line:
          height: 1.5
      a
        color: #0000ff
        &.ellipsis
          display: block
          text:
            overflow: ellipsis
          white:
            space: nowrap
          max:
            width: 100%
          overflow: hidden
  %body
    %p
      #{@account.name},
    = yield
    %p
      – Zeke, Founder
    %p
      %small This is an automated message, but feel free to reply and you'll hit my personal inbox!
