-# frozen_string_literal: true
!!!
%html
  %head
    %meta(content="width=device-width" name="viewport")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= message.subject
    :sass
      body
        padding: 20px
        font:
          family: sans-serif
          size: 14px
        line:
          height: 1.5
      a
        color: #00ce75
        &.ellipsis
          display: block
          text:
            overflow: ellipsis
          white:
            space: nowrap
          max:
            width: 100%
          overflow: hidden
      ul
        &.no-margin
          margin: 0
      hr
        margin: 20px 0
        outline: none
        border: none
        border:
          top: 1px solid #f3f3f3
  %body
    %p
      Greetings,
    = yield
    %p
      Kind regards
      %br
      &#45;&#45;
      %br
      Zeke Gabrielse
      %br
      Founder &lt;https://keygen.sh&gt;
