<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title><%= message.subject %></title>
    <style>
      body {
        padding: 20px;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.5;
      }
      a {
        color: #00ce75;
      }
      a.ellipsis {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
